@import "bulma/sass/utilities/_all";

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~@creativebulma/bulma-divider";
.item:not(:last-child):not(:empty) {
  border-bottom: 1px solid $grey-lighter;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.list-item:not(:empty) ~ .list-item:not(:empty):before {
  content: ", ";
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}